header {
    background-color: #244751;
    color: #E8FDFF;
}
body {
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    background-color: whitesmoke;
    font-family: 'Open sans', sans-serif;
  }
main {
    background-color: white;
    padding: 16px;
  }
  .finstagram-post {
    margin-bottom: 48px;
  }
  .finstagram-post .user-info img {
    border-radius: 50%;
  }
  a.photo{
    transition: padding 0.5s;
  }
  a.photo:hover{
    padding: 10px;
  }